@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");

:root {
  --yellow: #053ba6;
  --black: #000;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: var(--black);
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.heading span {
  color: #053ba6;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #000;
  border: 0.2rem solid #000;
  font-size: 2rem;
}

.btn:hover {
  background: #053ba6;
  border-color: #053ba6;
  color: #fff;
}

.header .contact-info {
  padding: 1rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #053ba6;
}

.header .contact-info p {
  font-size: 1.5rem;
  color: #fff;
}

.header .contact-info p i {
  padding-right: 0.5rem;
  color: #fff;
}

.header .navbar {
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  /* border-bottom: 0.2rem solid #334; */
  position: relative;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .navbar .links .active-022 {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #053ba6;
}

.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #000;
  font-weight: bolder;
}

.header .navbar .logo i {
  color: #053ba6;
}

.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #000;
}

.header .navbar .links a:hover {
  /* text-decoration: underline; */
  color: #053ba6;
}

.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #000;
  display: none;
}

/* section home */

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--white)),
    to(transparent)
  );
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
  padding: 1rem 0;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

/* section bienvenida */

.img-bienvenida {
  width: 50px;
}

.title-bienvenido {
  text-align: center;
  font-size: 24px;
  color: var(--yellow);
  margin-bottom: 0.8em;
}

.p-bienvenida {
  text-align: center;
  color: #000;
  font-size: 18px;
  margin-bottom: 1em;
}

.cont-bienvenida {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 1%;
}

.item-bienvenida {
  width: 33.3%;
  border: 1px solid #fff;
  padding: 2%;
  text-align: center;
}

.subtitle-bienvenida {
  color: var(--yellow);
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.p-bienvenida-02 {
  color: #000;
  font-size: 16px;
}

/* section emergencia */

.title-emergencia{
  color: var(--yellow);
  font-size: 22px;
  text-align: center;
}

.cont-emergencia{
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content: space-evenly;
  padding: 2%;
}

.item-emergencia{
  width: 40%;
  margin: 2%;
  padding: 1%;
  background: #999;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 350ms ease-out;
  cursor: default;}

.item-emergencia:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-3%);
}

/* ventana modal */

#open_modaldos {
  padding: 10px 20px;
  background: #2a08e6;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 18px;
  margin-top: 2%;
}

#open_modaltres {
  padding: 10px 20px;
  background: #199c45;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 18px;
  margin-top: 2%;
}

button {
  padding: 10px 20px;
  background: #f20505;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 18px;
  margin-top: 2%;
}

.fondo_modal,
.fondo_modaldos,
.fondo_modaltres {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* transparente */
  backdrop-filter: blur(3px); /* blur */

  /* centrar modal */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal,
.modaldos,
.modaltres {
  padding: 40px;
  width: 60%;
  background: #fff;
  border-radius: 5px;
}

.modal h1 {
  margin-bottom: 15px;
  color: #000;
  font-size: 18px;
}
.modal p {
  color: #000;
  font-size: 18px;
  margin-bottom: 25px;
}
.btn,
.btndos,
.btntres {
  margin-right: 15px;
}

.hidden,
.hiddendos,
.hiddentres {
  opacity: 0;
  visibility: hidden;
}



@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }
  .header .navbar {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .contact-info {
    padding: 2rem;
  }
  .header .navbar {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .contact-info {
    display: none;
  }
  .header #menu-btn {
    display: inline-block;
  }

  .header .navbar .links .active-022 {
    margin-left: 2rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #053ba6;
  }

  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }

  .home .slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }

  .cont-bienvenida {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2%;
  flex-direction: column;
}

.item-bienvenida {
  width: 90%;
  border: 1px solid #fff;
  padding: 2%;
  text-align: center;
  margin-top: 1.5em;
}

.img-bienvenida {
  width: 50px;
  margin-top: 0.8em;
}

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
